/* page styles */

html {
  font-size: 14px;
}

body {
  font-family: "Open Sans", sans-serif;
  min-width: 400px;
}

h1 {
  color: white;
  font-family: "Monoton";
  font-size: 7.1rem;
  text-shadow: 1px 1px #000, -1px -1px #000, -1px 1px #000, -1px 1px #000;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.4rem;
}

h3 {
  color: #399bd1;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 1.4rem;
}

h4 {
  font-size: 1.3rem;
  font-weight: bold;
}

@media only screen and (max-width: 990px) {
  h1 {
    font-size: 5.7rem;
  }
}

/* navbar styles */

nav {
  background-color: #fff;
}

a {
  color: #818181;
  font-size: 1.1rem;
  font-weight: 600;
}

.active {
  color: #399bd1;
}

@media only screen and (max-width: 720px) {
  .navbar-brand {
    display: none;
  }
}

/* jumbotron styles */

.jumbotron {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 44rem;
  padding: 11.85rem 0;
  text-align: center;
}

.jumbotron p {
  color: white;
  font-size: 1.4rem;
  margin: 0 auto;
  max-width: 51.3rem;
  padding: 0 1.4rem;
  text-shadow: 1px 1px #000, -1px -1px #000, -1px 1px #000, -1px 1px #000;
}

.jumbotron-bike {
  background-image: url(../images/jumbotron-bike.jpg);
}

.jumbotron-beer {
  background-image: url(../images/jumbotron-beer.jpg);
}

.jumbotron-flowers {
  background-image: url(../images/jumbotron-flowers.jpg);
}

.jumbotron-duffel {
  background-image: url(../images/jumbotron-duffel.jpg);
}

.jump-in {
  position: relative;
  text-align: center;
  top: -11rem;
  width: 100%;
}

/* jumbotron button dynamic styles */

.btn-primary {
  background-color: #399bd1;
  border: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, .5);
  font-size: 1.2rem;
  padding: 1.3rem 0;
  transition: box-shadow, 1s;
  width: 11.4rem;
}

.btn-primary:hover {
  background-color: #399bd1;
  box-shadow: 0 0 12px rgba(0, 0, 0, .9);
}

.btn-primary:active {
  box-shadow: 0 0 3px rgba(0, 0, 0, .5);
}

/* featured project styles */

.featured {
  margin: -3rem auto 3rem auto;
}

.image-container {
  margin-bottom: 20px;
  overflow: hidden;
}

.featured .image-container {
  height: 19rem;
}

.image-container img {
  max-width: 100%;
  opacity: .7;
  transition: opacity, .5s;
}

.image-container img:hover {
  opacity: 1;
  transform: scale(1.3);
}

.categories li {
  color: rgba(0, 0, 0, .7);
  line-height: 1.4;
}

#categories {
  color: #399bd1;
}

/* other project styles */

.projects {
  margin: 3rem auto;
}

.projects .image-container {
  height: 13.5rem;
}

/* footer project styles */

footer {
  background-color: #f3f3f3;
  padding: 5.2rem;
  text-align: center;
}

footer p {
  margin: 0 auto 1.8rem auto;
  max-width: 42rem;
  padding: 0 1.4rem;
}
